%header.pcHeader
  =render 'items/header'

.mypage
  .mypage__content
    .mypage__content__profile
      %h2 プロフィール
    .mypage__content__profile__info
      = form_with model: @user, html: {class: "Form"}, local: true do |f|
        .field
          .field-label
            = f.label 'ニックネーム'
          .field-input
            = f.text_field :nickname, placeholder: "（例）フリマ太郎", autofocus: true, value: current_user.nickname
        .field
          .field-label
            = f.label '自己紹介'
          .field-input
            = f.text_area :introduction, value: current_user.introduction
        .actions    
          = f.submit '変更する', class: 'btn'
          
  .mypage__bottom
    = render 'mypage__bottom'

%aside.appBanner
  .inner
    %h2.inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text
      今すぐ無料ダウンロード
    .innner__icon        
      =link_to "#", class: "aBtn" do
        = image_tag 'icon/Download_on_the_App_Store_Badge_JP_blk_.png'
      =link_to "#", class: "gBtn" do
        = image_tag "icon/google-play-badge.png"

%footer.home-footer
  = render 'items/top-footer'