%header.pcHeader
  =render 'items/header'

.main

  .showMain
    - @items.each do |item| 
      .topContent
        .itembox
          %h2.itembox__name
            =item.name
          .itembox__body
            %ul
              %li
                = image_tag item.images[0]
                -if item.images.length > 5
                  %ul
                    -for i in 0..4
                      %li
                        = image_tag @item.images[i]
                  %ul
                    -@item.images.each.with_index do |image,count|
                      -if count < 5
                      -else
                        %li
                          = image_tag image
                -else

          .itembox__price
            %span
              ¥
              =item.price
          .itembox__price-detail
            %span
              （税込）
            %span
              送料込み
          -if user_signed_in? && current_user.id != item.seller_id
            .itembtnarea
              %button.buyBtn{type: "submit",name: "button"}
                商品購入
          - else
          -if user_signed_in? && current_user.id == item.seller_id
            .itembtnarea__seller
              %button.editBtn{type: "submit",name: "button"}
                編集
              %button.deleteBtn{type: "submit",name: "button"}
                削除
          -else
          .itemdetail
            =item.introduction
          
          .table
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    =item.seller.nickname
                %tr
                  %th
                    カテゴリー
                  %td
                    %a
                      = link_to '#' do
                        =item.genre.root.name
                        %br
                        =item.genre.parent.name
                        %br
                        =item.genre.name
                %tr
                  %th
                    ブランド
                  %td
                    =item.brand
                %tr
                  %th
                    商品の状態
                  %td
                    =item.condition.condition
                %tr
                  %th
                    配送料の負担
                  %td
                    =item.delivery_fee.payer
                %tr
                  %th
                    発送元の地域
                  %td
                    %a
                      = link_to '#' do
                        =item.pref.name
                %tr
                  %th
                    発送日の目安
                  %td
                    =item.day.day
          .option
            %ul
              %li.option__btn
                %i.fa.fa-star
                  お気に入り
            %ul.optional
              %li.optionalBtn
                %a
                  %i.fa.fa-flag
                  = link_to "不適切な商品の通報", "#"

%aside.appBanner
  .inner
    %h2.inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text
      今すぐ無料ダウンロード
    .innner__icon        
      =link_to "#", class: "aBtn" do
        = image_tag 'icon/Download_on_the_App_Store_Badge_JP_blk_.png'
      =link_to "#", class: "gBtn" do
        = image_tag "icon/google-play-badge.png"

.home-footer
  = render 'items/top-footer'
  
=link_to "items/new" do
  .purchaseBtn
    %span.purchaseBtn__text
      出品する
    =image_tag 'icon/icon_camera.png' 