#account-page.account-page
  .account-page__top
    .account-page__top--logo
      = link_to "", :back, class: 'logo'
  .account-page__inner--login
    .account-page__inner--header.account-page__header
      %h3 ログイン情報入力
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-label
            = f.label  'メールアドレス'
          .field-input
            = f.email_field :email, placeholder: "登録したメールアドレス", autofocus: true
          .field
            .field-label
              = f.label  'パスワード'
            .field-input
              = f.password_field :password, placeholder: "設定したパスワード", autocomplete: "off"
          .actions
            = f.submit "ログイン", class: 'btn'
  .account-page__footer
    .account-page__footer--logo
      = link_to "", :back, class: 'logo'
    .account-page__footer--text
      %span ©︎FURIMA, inc
    .account-page__footer--login
