%section.topMiddleDl
  .topMiddleDl__inner
    %h2.subtitle
      会員数日本一位
    %p.text
      FURIMAは、フリマアプリで最も人気。
      %br
        出品・購入回数も業界最多です! 
        %br
          ほしかったあの商品に出会えるかもしれません。
    .btn
      %a.aBtn{:href => "#"}
        = image_tag 'icon/Download_on_the_App_Store_Badge_JP_blk_.png'
      %a.gBtn{:href => "#"}
        = image_tag "icon/google-play-badge.png"

%section.topKeyFeatures
  %h2.head
    FURIMAの特徴
  .items
    %section.item
      %figure.item__img
        = image_tag "icon/icon-01.png"
      %h3.item__subtitle
        簡単に売り買いできる
      %p.item__detail
        スマホ一つで、いつでもどこでも簡単に出品・購入が可能!
    %section.item
      %figure.item__img
        = image_tag "icon/icon-03.png"
      %h3.item__subtitle
        売上金は即日振り込みに対応
      %p.item__detail
        午前9時までに振り込みを依頼いただければ、翌日に指定の口座に入金いたします!
    %section.item
      %figure.item__img
        = image_tag "icon/icon-04.png"
      %h3.item__subtitle
        様々な支払いに対応
      %p.item__detail
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。