%section.pickupContainer
  %h2.head
    ピックアップカテゴリー
  .productBox
    .productHead
      %a{:href => "#"}
        %h3.title
          新規投稿商品
    .productLists
      .productList
        %a{:href => "#"}
          %figure.productList__img
            %img{:src => "#"}
          .productList__body
            %h3.name
              商品名
            .details
              %ul
                %li
                  1000円
                %li
                  = fa_icon "star"
                  %i
                    1
              %p
                (税込)
      .productList
        %a{:href => "#"}
          %figure.productList__img
            %img{:src => "#"}
          .productList__body
            %h3.name
              商品名
            .details
              %ul
                %li
                  1000円
                %li
                  = fa_icon "star"
                  %i
                    1
              %p
                (税込)
      .productList
        %a{:href => "#"}
          %figure.productList__img
            %img{:src => "#"}
          .productList__body
            %h3.name
              商品名
            .details
              %ul
                %li
                  1000円
                %li
                  = fa_icon "star"
                  %i
                    1
              %p
                (税込)
      .productList
        %a{:href => "#"}
          %figure.productList__img
            %img{:src => "#"}
          .productList__body
            %h3.name
              商品名
            .details
              %ul
                %li
                  1000円
                %li
                  = fa_icon "star"
                  %i
                    1
              %p
                (税込)
      .productList
        %a{:href => "#"}
          %figure.productList__img
            %img{:src => "#"}
          .productList__body
            %h3.name
              商品名
            .details
              %ul
                %li
                  1000円
                %li
                  = fa_icon "star"
                  %i
                    1
              %p
                (税込)

%section.pickupContainer
  %h2.head
    ピックアップブランド
  .productBox
    .productHead
      %a{:href => "#"}
        %h3.title
          アーカイバ
    .productLists
      .productList
        %a{:href => "#"}
          %figure.productList__img
            %img{:src => "#"}
          .productList__body
            %h3.name
              商品名
            .details
              %ul
                %li
                  1000円
                %li
                  = fa_icon "star"
                  %i
                    1
              %p
                (税込)
      .productList
        %a{:href => "#"}
          %figure.productList__img
            %img{:src => "#"}
          .productList__body
            %h3.name
              商品名
            .details
              %ul
                %li
                  1000円
                %li
                  = fa_icon "star"
                  %i
                    1
              %p
                (税込)
      .productList
        %a{:href => "#"}
          %figure.productList__img
            %img{:src => "#"}
          .productList__body
            %h3.name
              商品名
            .details
              %ul
                %li
                  1000円
                %li
                  = fa_icon "star"
                  %i
                    1
              %p
                (税込)
      .productList
        %a{:href => "#"}
          %figure.productList__img
            %img{:src => "#"}
          .productList__body
            %h3.name
              商品名
            .details
              %ul
                %li
                  1000円
                %li
                  = fa_icon "star"
                  %i
                    1
              %p
                (税込)
      .productList
        %a{:href => "#"}
          %figure.productList__img
            %img{:src => "#"}
          .productList__body
            %h3.name
              商品名
            .details
              %ul
                %li
                  1000円
                %li
                  = fa_icon "star"
                  %i
                    1
              %p
                (税込)


