.edit
  %header.sell-header
    = link_to image_tag('logo.png'), root_path, alt: 'Furima', height: '55', class: 'header-logo'
  %main
    %section.sell-container
      = form_with model: @item, url: item_path do |f|

        -# 画像部分
        .sell-container__content
          .sell-title
            %h3.sell-title__text
              出品画像
              %span.sell-title__require
                必須
          .sell-container__content__max-sheet 最大10枚までアップロードできます
          .sell-container__content__upload
            .sell-container__content__upload__items
              .sell-container__content__upload__items__box
                %ul#output-box
                  - labelLength = 0
                  - @item.images.each do |image|
                    %h1{id: "check#{labelLength}"}
                    %li.preview-image{id: "upload-image#{labelLength}", "data-image-id": "#{labelLength}"}
                      %figure.preview-image__figure
                        = image_tag image, alt: ""
                        .preview-image__button
                          %a.preview-image__button__edit 編集
                          = f.check_box :image_ids, {class: 'checkbox', id: "checkbox#{labelLength}", :multiple => true}, image.id, false
                          %label.checkbox__label{for: "checkbox#{labelLength}","data-image-id": "#{labelLength}"}削除
                    - labelLength = labelLength +1
                  -if labelLength < 10
                    %div#image-input
                      = f.label :images, for: "item_images#{labelLength}", class: 'sell-container__content__upload__items__box__label', data: {label_id: labelLength } do
                        = f.file_field :images, multiple: true, class: "sell-container__content__upload__items__box__input", id: "item_images#{labelLength}", style: 'display: none;'
                        %pre
                          %i.fas.fa-camera.fa-lg
                  -elsif labelLength < 11
                    %div#image-input
                      = f.label :images, for: "item_images#{labelLength}", class: 'sell-container__content__upload__items__box__label',style: 'display: none;', data: {label_id: 9 } do
                        = f.file_field :images, multiple: true, class: "sell-container__content__upload__items__box__input", id: "item_images#{labelLength}",style: 'display: none;'
                        %pre
                          %i.fas.fa-camera.fa-lg
                  -else
          .error-messages#error-image

        -# 商品名部分
        .sell-container__content
          .sell-title
            %h3.sell-title__text
              商品名
              %span.sell-title__require
                必須
          = f.text_field :name, {class:'sell-container__content__name', required: "required", placeholder: '商品名（必須 40文字まで)'}
          .error-messages#error-name

          .sell-title
            %h3.sell-title__text
              商品の説明
              %span.sell-title__require
                必須
          = f.text_area :introduction, {class: 'sell-container__content__description', required: "required", rows: '7', maxlength: '1000', placeholder: text_placeholder}
          -# placeholderでtems_helperを呼び出す
          .sell-container__content__word-count
            %span#word-count
              0
            &#47;1000
          .error-messages#error-text

        -# 詳細部分
        .sell-container__content
          %h3.sell-sub-head 商品の詳細
          .sell-container__content__details
            .sell-title
              %h3.sell-title__text
                カテゴリー
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :genre_id, {class: 'sell-collection_select__label'} do
                = f.collection_select :genre_id, Genre.roots, :id, :name, {prompt: "選択して下さい", selected: @item.genre&.root_id},{ class: 'sell-collection_select__input', id: 'genre-select', required: "required"}
                %i.fas.fa-chevron-down
            .error-messages#error-genre
            .sell-collection_select#select-children-box
              = f.label :genre_id, {class: 'sell-collection_select__label'} do
                = f.collection_select :genre_id, @item.genre.parent.siblings, :id, :name, {prompt: "選択して下さい", selected: @item.genre.parent_id},{ class: 'sell-collection_select__input', id: 'genre-select-children', required: "required"}
                %i.fas.fa-chevron-down
            .error-messages#error-genre
            .sell-collection_select#select-grandchildren-box
              = f.label :genre_id, {class: 'sell-collection_select__label'} do
                = f.collection_select :genre_id, @item.genre.siblings, :id, :name, {prompt: "選択して下さい", selected: @item.genre.id},{ class: 'sell-collection_select__input', id: 'genre-select-grandchildren', required: "required"}
                %i.fas.fa-chevron-down
            .error-messages#error-genre

            
            .sell-title
              %h3.sell-title__text
                ブランド
                %span.sell-title__require__common
                  任意
            = f.text_field :brand, {class:'sell-container__content__brand', placeholder: '例）シャネル'}
            .error-messages#error-brand

            .sell-title
              %h3.sell-title__text
                商品の状態
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :condition_id, {class: 'sell-collection_select__label'} do
                = f.collection_select :condition_id, Condition.all, :id, :condition, {prompt: '選択して下さい'},{ class: 'sell-collection_select__input', id: 'condition-select', required: "required"}
                %i.fas.fa-chevron-down
            .error-messages#error-condition

        -# 配送部分
        .sell-container__content
          %h3.sell-sub-head
            %p 配送について
            = link_to '#',target: '_blank',class: 'sell-sub-head__guides-link' do
              %i.far.fa-question-circle
          .sell-container__content__delivery
            .sell-title
              %h3.sell-title__text
                配送料の負担
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :delivery_fee_id, {class: 'sell-collection_select__label'} do
                = f.collection_select :delivery_fee_id, DeliveryFee.all, :id, :payer, {prompt: '選択して下さい'},{ class: 'sell-collection_select__input', id: 'delivery_fee-select', required: "required"}
                %i.fas.fa-chevron-down
            .error-messages#error-delivery_fee

            .sell-title
              %h3.sell-title__text
                発送元の地域
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :pref_id, class: 'sell-collection_select__label' do
                = f.collection_select :pref_id, Pref.all, :id, :name, {prompt: '選択して下さい'},{ class: 'sell-collection_select__input', id: 'pref-select', required: "required"}
                %i.fas.fa-chevron-down
            .error-messages#error-pref

            .sell-title
              %h3.sell-title__text
                発送までの日数
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :day_id, class: 'sell-collection_select__label' do
                = f.collection_select :day_id, Day.all, :id, :day, {prompt: '選択して下さい'},{ class: 'sell-collection_select__input', id: 'day-select', required: "required"}
                %i.fas.fa-chevron-down
            .error-messages#error-day

        -# 価格部分
        .sell-container__content
          %h3.sell-sub-head
            %p 販売価格(300〜9,999,999)
            = link_to '/price',target: '_blank', class: 'sell-sub-head__guides-link' do
              %i.far.fa-question-circle
          .sell-container__content__price
            .sell-title
              %h3.sell-title__text
                販売価格
                %span.sell-title__require
                  必須
            .sell-container__content__price__form
              = f.label :price, class: 'sell-container__content__price__form__label' do
                ¥
                = f.number_field :price, {placeholder: '0', value: @item.price, autocomplete:"off", class: 'sell-container__content__price__form__box', required: "required"}
          .error-messages#error-price

          .sell-container__content__commission
            .sell-container__content__commission__left
              販売手数料 （10%）
            - fee = @item.price / 10
            .sell-container__content__commission__right
              ¥
              = fee
          .sell-container__content__profit
            .sell-container__content__profit__left
              販売利益
            - benefit = @item.price - fee
            .sell-container__content__profit__right
              ¥
              = benefit
          
          .submit-btn
            = f.submit '更新する', class: 'submit-btn__sell-btn'
            = link_to 'もどる', root_path, class: 'submit-btn__return-btn'
          .attention-box
            %p
              禁止されている行為および出品物を必ずご確認ください。偽ブランド品や
              盗品物などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして
              加盟店規約に同意したことになります。

  %footer.sell-footer
    %nav
      %ul.clearfix
        %li
          = link_to '#' do
            プライバシーポリシー
        %li
          = link_to '#' do
            利用規約
        %li
          = link_to '#' do
            特定商取引に関する表記
    = link_to root_path, class: 'footer__logo' do
      = image_tag 'logo-white.png', alt: 'Furima', height: '45', class: 'footer__logo__image'
    %p
      %small
        &copy; Furima, Inc.
